<div class="job">

    <div class="row">
        <strong>{{position}}</strong>
        <span>{{start_date}} - {{end_date}}</span>
    </div>

    <div class="columns">
        <ul>
            {{#each bulletsSplit.left}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <ul>
            {{#each bulletsSplit.right}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    
</div>